h2, h3 {
  color: #444;
  font-family: fontello;
  font-weight: lighter;
}

.center {
  text-align: center
}

.img {
  width: 300px
}

.cmp {
  padding: 6px;
  margin: 6px;
  border: 2px solid #0640ff;
}
